# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\su24-sd41-ban-ao-nam-xmen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
